html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
}

.dropzone {
  box-sizing: border-box;
  border:2px dashed #0B85A1;
  /*width:400px;*/
  color:#92AAB0;
  text-align:left;vertical-align:middle;
  padding:10px 10px 10 10px;
  margin-bottom:10px;
  font-size:200%;
  height: 160px;
}

.dragover {
  background-color: #DEDEDE;
}

.dragdroptext {
  text-align: center;
}

.file-select-input {
  display: none;
}

.commands {
  display:none;
}

.convert-overall-spinner {
  display: none;
}

/*header {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  text-align: center;
}

header h1 {
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}*/
