<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Electron boilerplate</title>
		<link rel="stylesheet" href="../stylesheets/index.css" type="text/css">
    <script src="../javascripts/ls.coffee" type="application/javascript"></script>
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Electron boilerplate</h1>
			</header>
			<section class="main">
			  <a href="#" id="ls">ls</a>
        <a href="#" id="ffprobe">ffprobe</a>
        <a href="#" id="du">du</a>
			</section>
      <div id="container" class="content-container"></div>
			<!-- <footer></footer> -->
		</div>
	</body>
</html>
