<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JPEG2000 Conversion GUI</title>

    <link rel="stylesheet" href="../../node_modules/foundation-sites/dist/foundation.css" type="text/css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../stylesheets/index.less" type="text/css">
    <link rel="stylesheet" href="../stylesheets/file-row.less" type="text/css">
    <!-- <script src="../javascripts/cmd.coffee"></script> -->

    <script charset="utf-8">var jQuery = require('jquery')</script>
    <script src="../../node_modules/foundation-sites/dist/foundation.js"></script>
    <script src="../javascripts/filedrop.coffee"></script>
    <script src="../javascripts/convert.coffee"></script>
    <script src="../javascripts/image-viewer.coffee"></script>
    <script src="../javascripts/open-settings.coffee"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>JPEG2000 Conversion GUI</h1>
      </header>
      <section class="main">
        <div class="dropzone" id="dropzone">
          <div class="dragdroptext">Drop your image files here</div>
          <div class="dragdroptext">or</div>
          <div class="dragdroptext" id="file-select-trigger"><a href="#">Select files</a></div>
          <input type="file" id="file-select-input" class="file-select-input" multiple accept="image/*" style="display:none">
        </div>
        <div id="commands" class="commands row clearfix">
          <div class="column">
            <a href="#" class='convert-jpeg2000-command button' id='convert-jpeg2000-command'>convert all <span class="image_number"></span> images to JPEG2000</a>

            <a href="#" id="restart" class="restart button">Restart <i class="fa fa-refresh"></i></a>
          </div>
        </div>
        <div id="convert-progress" class="convert-progress row">
          <div class="column">
            <span id="convert-overall-spinner" class=" convert-overall-spinner">
              converted <span class="completed_number">0</span> of
              <span class="image_number"></span> images
              <i class="fa fa-spinner fa-pulse" ></i>
            </span>
            <span class="all-done-checkmark" id="all-done-checkmark">
              <i class="fa fa-check"></i> all done
            </span>
          </div>
        </div>
      </section>

      <div class="settings-container">
        <a href="#" id="settings" class="settings"><i class="fa fa-gear"></i></a>
      </div>

      <div class="pan-zoom-container">
        <a href="#" id="launch-pan-zoom" class="launch-pan-zoom"><i class="fa fa-search"></i></a>
        <input type="file" id="pan-zoom-file-select-input" class="file-select-input" multiple accept="image/jp2" style="display:none">
      </div>


      <div id="container" class="content-container"></div>

      <div class="reveal" id="files-added-modal" data-reveal>
        <h1><span id="files-added-modal-number"></span> files are being added...</h1>
        <p>
          Sometimes it takes a while to create the thumbnails for the images.
          This image creation should probably be done async!
        </p>
        <p>This dialog will automatically close when they're all added.</p>
        <p>You'll also get a desktop notification.</p>
        <!-- <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>

      <div class="reveal" id="jp2s-created-modal" data-reveal>
        <h1>All JPEG2000s Created</h1>
        <p>
          Click on the link to the JP2 file and see the image in an
          openseadragon viewer.
        </p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <!-- <footer></footer> -->
      <!-- <a href="#" id="ls">ls</a>
      <a href="#" id="ffprobe">ffprobe</a>
      <a href="#" id="du">du</a> -->
    </div>
  </body>
</html>
