<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings</title>

    <link rel="stylesheet" href="../../node_modules/foundation-sites/dist/foundation.css" type="text/css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../stylesheets/settings.css" type="text/css">
    <script src="../javascripts/settings.js"></script>
  </head>
  <body id='settings_page'>
    <section class="main">
      <div class="column">
        <div class="row">
          <header>
            <h1>Settings</h1>
          </header>
          <!-- <i class="fa fa-arrows" style="-webkit-app-region: drag"></i> -->
        </div>
        <div class="row">
          The JPEG2000 files created with this application will be saved here:
          <div><span id="output_dir"></span><span id="output_dir_warning">You must sent an output directory to continue!</span></div>
          <div><a href="#" class="button" id="change-output-directory">Change the output directory</a>
          </div>
        </div>

        <div class="row">
          JP2 Binary:
          <div>
            <form id="jp2_binary">
              <input type="radio" name="jp2_binary" value="opj" id="opj">
              <label for="opj">OpenJPEG (opj_compress)</label><br>
              <input type="radio" name="jp2_binary" value="kdu" id="kdu">
              <label for="kdu">Kakadu (kdu_compress)</label>
            </form>
          </div>
        </div>

        <div class="row">
          Quality:
          <div>
            <form action="" id="quality">
              <input type="radio" name="quality" value="lossless" id="lossless" checked>
              <label for="lossless">Lossless</label>
            </form>
          </div>
        </div>

        <div class="row">
          <a href="#" class="button" id="close_window">Close</a>
        </div>
        <div class="row">
          Version <span id="version"></span>
        </div>

      </div>
    </section>
    <input type="file" id="file-select-input" class="file-select-input" directory webkitdirectory style="display:none">
  </body>
</html>
